

 .header-text h1{
  font-size: 3.9em;
  margin-top: 5px;
}


.app{
  margin-top: 6px;
}
.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.text-header , .footer-line{
  background: #d078ff;
  background: linear-gradient(to bottom right ,#d078ff , #92acff); /* Standard syntax (must be last) */
  color: #F1F1F1;
}

.footer-line {
  width: 100%;
  height: 6px;
}




h1, h2, h3, h4, h5, h6 ,.btn {
  font-family: 'Kanit', sans-serif;
  }

.top-menu{
  margin-top: 5px;
  background: #333;
  color:#f1f1f1;
  height: 40px;
}

.top-menu a{
  color:#959998;
   font-size: 1.2em;
}


.header-text-warp{
   height: 100px;
}
.header-logo{
  width: 80% !important;
}



.content{
  margin-top:60px;
}


.detail-row{
  margin-bottom: 30px;
}


.detail-title{
  font-weight: bold !important;;
}


.small-text{
  font-size: 0.8em;
}


.detail p{
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important; 
  color:#4c4c4c;
}

.left-img{
  display: inline-block;
  width:40%;
}

.h-line{
 border:  1px  dotted  #000;
}



.btn-puple {
  color: #fff;
  background-color: #963cbf;
  border-color: #963cbf;
  cursor: pointer;
}

.btn-puple:hover {
  color: #fff;
  background-color: #CE7AFF;
  border-color: #CE7AFF;
  cursor: pointer;
}

.btn-puple:focus, .btn-primary.focus {
  box-shadow: 0 0 0 3px rgba(234, 0, 255, 0.5);
}


.btn-big{
  padding: 12px 50px !important;
}

footer p{
  font-size: 0.8rem;
}